.navigation ul {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.links {
    display: flex;
    gap: 10px;
}
.middleControls {
    font-size: 0.6rem;
    width: 100%;
    margin:0 10px;
}

.middleControls button {
    width: 100%;

}

.links a {
    color: var(--color-color);
    text-decoration: none;
    background-color: var(--color-background);
    padding: 10px;
    border-radius: 12px;
    height: 50px;
}

.links a:hover {
    border-radius: 12px;
    filter: brightness(0.9);
}

.logo {
    width: 4rem;
    border-radius: 100%;
}

.auth:hover {
    box-shadow: 5px 5px 5px gray;
}

@media(min-width:400px) {
   .middleControls{
    font-size: 0.8rem;
   }

}
@media(min-width:630px) {
    .navigation ul{
        justify-content: space-between;
    }
    .links{
        margin-left:auto;
        margin-right:1rem;
    }

    .middleControls {
        margin-left:auto;
        
        width: unset;
        font-size: 1rem;
    }

    .middleControls button {
        width: unset;
    }

}