.auth {
    height: 50px;
    padding: 13px;
    border-radius: 40%;
    border: 1px solid gray;
}

.auth+ul {
    position: absolute;
    height: 200px;
    width: 200px;
    
    transform:  none;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    filter: brightness(1.2);
    border-radius: 0.5em;
    justify-content: start;
    padding: 1rem;
    z-index:2 ; 
    top:55px;
    right:15px;
}

.authMenu {
    border-bottom: 1px solid gray;
    height: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

}

.authMenu a {
    text-decoration: none;
    color: var(--color-color);
    
    padding: 0 15px;
}

@media (max-width:500px) {
    .auth+ul{
        transform:scale(0.8);
        top:40px;
        right:0;
    }
    
}